@page "/"

<PageTitle>UICrafter</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-12">
    <MudPaper Elevation="2" Class="pa-6">
        <MudText Typo="Typo.h4">Welcome to UICrafter</MudText>

        <MudText Typo="Typo.body1" Class="my-4">
            UI Crafter is your one-stop tool for crafting app interfaces. Drag and drop components, edit properties, and craft the UI for your desired app-view.
        </MudText>

        <AuthorizeView>
            <Authorized>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="uicrafter">
                    Start Crafting Now
                </MudButton>
            </Authorized>
            <NotAuthorized>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="auth/login?returnUrl=uicrafter">
                    Start Crafting Now
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudPaper>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-12">
    <MudPaper Elevation="1" Class="pa-4">
        <MudText Typo="Typo.h5">Features</MudText>
        <MudText Class="mt-2">Drag and drop components to quickly design your UI</MudText>
        <MudText Class="mt-2">Edit properties of components to adjust their looks & functionality</MudText>
        <MudText Class="mt-2">Save and load your designs for easy modification</MudText>
        <MudText Class="mt-2">Save your app-views, and use them in the mobile applications</MudText>
    </MudPaper>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-12">
    <MudPaper Elevation="1" Class="pa-4">
        <MudText Typo="Typo.h5" Class="mb-2">Tutorial video</MudText>
        <div class="responsive-youtube-iframe">
            <iframe src="https://www.youtube.com/embed/jbhC8J2t8kc?si=Y8s9X257IEESTTTk"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
            </iframe>
        </div>
    </MudPaper>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-12">
    <MudStack Spacing="1">
        <MudText Typo="Typo.caption">2024 UICrafter, AU Bachelor Project.</MudText>
        <MudText Typo="Typo.caption">By: ALC, ASL & MGP</MudText>
    </MudStack>
</MudContainer>
