@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main class="main">
        <article class="content px-4">
            @Body
        </article>
    </main>

    <AuthorizeView>
        <Authorized>
            <footer class="footer">
                <NativeNavbar />
            </footer>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    public Task Login()
    {
        return ((CustomAuthStateProvider)AuthenticationStateProvider)
            .LogInAsync();
    }

    public Task Logout()
    {
        return ((CustomAuthStateProvider)AuthenticationStateProvider)
           .SignOutAsync();
    }
}
