@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
 @*    <div class="sidebar">
        <NavMenu />
    </div> *@

    <main class="main">
      @*   <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity?.Name
                    <a href="#" @onclick="Logout">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="#" @onclick="Login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>

    <AuthorizeView>
        <Authorized>
            <footer class="footer">
                <NativeNavbar />
            </footer>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    public Task Login()
    {
        return ((CustomAuthStateProvider)AuthenticationStateProvider)
            .LogInAsync();
    }

    public Task Logout()
    {
        return ((CustomAuthStateProvider)AuthenticationStateProvider)
           .SignOutAsync();
    }
}
