@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main class="main">
        @Body
    </main>
    <footer>
        <NativeNavbar Class="native-navbar-fixed" />
        <NativeNavbar Style="visibility: hidden;" />
    </footer>
</div>

@code {
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    public Task Login()
    {
        return ((CustomAuthStateProvider)AuthenticationStateProvider)
            .LogInAsync();
    }

    public Task Logout()
    {
        return ((CustomAuthStateProvider)AuthenticationStateProvider)
           .SignOutAsync();
    }
}
