@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity.Name
                    <a href="#" @onclick="Logout">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="#" @onclick="Login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    public async Task Login()
    {
        await ((CustomAuthStateProvider)AuthenticationStateProvider)
            .LogInAsync();
    }

    public async Task Logout()
    {
        ((CustomAuthStateProvider)AuthenticationStateProvider)
           .Logout();
    }
}
