@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main class="main">
        @Body
    </main>
    <footer>
        <NativeNavbar Class="native-navbar-fixed" />
        @* This is here to have a replica that will displace the size of the NativeNavBar, this is needed due to the setup of the MAUI pull down refresh. This can be removed if we move to a Blazor implementation instead.*@
        <NativeNavbar Style="visibility: hidden;" />
    </footer>
</div>

<script>
    const ptr = PullToRefresh.init({
        mainElement: 'main',
        onRefresh() {
            window.location.reload();
        }
    });
</script>

@code {
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    public Task Login()
    {
        return ((CustomAuthStateProvider)AuthenticationStateProvider)
            .LogInAsync();
    }

    public Task Logout()
    {
        return ((CustomAuthStateProvider)AuthenticationStateProvider)
           .SignOutAsync();
    }
}
