<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UICrafter.Mobile</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <MudNavMenu>
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <AuthorizeView>
                <MudNavLink Href="appview" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.BugReport">AppView</MudNavLink>
                <MudNavLink Href="authpage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Create">Authpage</MudNavLink>
            </AuthorizeView>
        </MudNavMenu>
    </nav>
</div>
