@using UICrafter.Core.Components.BaseComponents
@inherits BaseLoadMetaDataList

<div id="reload">
    @{
        base.BuildRenderTree(__builder);
    }
</div>

<script>
    const ptr = PullToRefresh.init({
        mainElement: '#reload',
        onRefresh() {
            window.location.reload();
        }
    });
</script>

@code {
    protected override string? SetupHref(AppViewMetadata view)
    {
        return "/appview/" + view.Id;
    }

    [Parameter]
    public bool Public { get; set; }

    protected override void OnInitialized()
    {
        LoadPublic = Public;
    }
}
